html{
  height: 100%;
  padding-bottom: 50px;

}

h1{
  color: maroon;
  font-family: serif;
}

body{
  background-color: light-teal;
}

ul{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
