html{
  height: 100%;
  padding-bottom: 50px;

}

h1{
  color: maroon;
  font-family: serif;
}

body{
  background-color: teal;
}

ul{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: gold;
}
table, th{
  borde: 1 px solid black;
}
